#######################################################
# ALIASES
# Ran from .bashrc and/or .zshrc
#######################################################

# Sane dotfitl management inspired by https://www.atlassian.com/git/tutorials/dotfiles
alias config='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# Add dates and times to history view 
alias history='history -i'

# Get into gits and list them
alias gits='cd ~/gits; tree -d -x -C -L 3 ~/gits'

# Better local copies
alias cp='rsync --archive --partial --progress'
