#######################################################
# ALIASES
# Ran from .bashrc and/or .zshrc
#######################################################

# Sane dotfitl management inspired by https://www.atlassian.com/git/tutorials/dotfiles
alias config='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# Better ls
alias ls='ls --color=auto'

# Better grep - with color
alias grep='grep --color=auto'

# Better history - add dates and process elapse times
alias history='history -i -D'

# Get into gits and list them
alias gits='cd ~/gits; tree -d -x -C -L 3 ~/gits'

# Better local copies
alias cp='rsync --archive --partial --progress'

# #  GitHub Copilot CLI 
if command -v "gh" &> /dev/null
then
    alias '??'='gh copilot suggest -t shell'
fi

# if pip3 is installed, use it
if command -v pip3 &> /dev/null
then
    alias pip=pip3
fi

# if python3 is installed, use it
if command -v python3 &> /dev/null
then
    alias python=python3
fi
