[submodule "/home/vagrant/.oh-my-zsh"]
	path = /home/vagrant/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "/home/vagrant/.zsh_custom/plugins/zsh-autosuggestions"]
	path = /home/vagrant/.zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "/home/vagrant/.zsh_custom/plugins/zsh-completions"]
	path = /home/vagrant/.zsh_custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "/home/vagrant/.zsh_custom/plugins/zsh-syntax-highlighting"]
	path = /home/vagrant/.zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "/home/vagrant/.zsh_custom/themes/powerlevel10k"]
	path = /home/vagrant/.zsh_custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
