[profile default]
region = us-east-1
output = yaml

{% for account in global.accounts|sort(attribute='name') %}
{% for role in global.roles %}
[profile {{ account.name }}-{{ role }}]
role_arn = arn:aws:iam::{{ account.id }}:role/{{ role }}
source_profile = default
{% endfor %}
{% endfor %}

{% for account in specific|sort(attribute='name') %}
[profile {{ account.name }}-{{ account.role }}]
role_arn = arn:aws:iam::{{ account.id }}:role/{{ account.role }}
source_profile = default
{% endfor %}